In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('weather_data.csv') # read csv
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

# Ways to construct Data Frames

## List of Tuples

In [10]:
Weather_data= [('1/1/2017',32,6,'Rain'),
('1/2/2017',35,7,'Sunny'),
('1/3/2017',28,2,'Snow'),
('1/4/2017',24,7,'Snow'),
('1/5/2017',32,4,'Rain')]
 
# Weather_data
df_manual=pd.DataFrame(Weather_data,columns=['day','temperature','windspeed','event'])
df_manual

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [12]:
# get the dimension of table
df.shape #(m,n) --> (rows,columns)

(6, 4)

In [14]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [15]:
# slicing
df[2:5]  # excluding 5th row

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [16]:
# print columns in a table
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
# picking a column
# method-1
print(df.day)
#method-2
print(df['day'])

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object
0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [19]:
"""
Getting data from multiple columns:
"""
# we can pass a list of column name to get the data for more than one column
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [20]:
# get all the temperature
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [21]:
# get max temperature
df['temperature'].max()

35

In [22]:
# using describe () to get vision about the data
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [25]:
#selecting rows which has highest temperature
#lets create a mask first
temp_max=df['temperature']==df['temperature'].max() # this will return a bool array
temp_max

0    False
1     True
2    False
3    False
4    False
5    False
Name: temperature, dtype: bool

In [26]:
# now lets pass this mask to our dataframe to get desired o/p
df[temp_max]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny