In [1]:
import numpy as np

In [2]:
a=np.array([1,2,3,4])
a

array([1, 2, 3, 4])

In [3]:
# now lets add 1 to it 
a+1 # doen't modify the original array

array([2, 3, 4, 5])

In [4]:
a

array([1, 2, 3, 4])

In [5]:
a**2

array([ 1,  4,  9, 16])

In [6]:
# All arithmetic operates elementwise
b=np.ones(4)
b

array([1., 1., 1., 1.])

In [7]:
b=b+1
b

array([2., 2., 2., 2.])

In [8]:
a-b

array([-1.,  0.,  1.,  2.])

In [9]:
a*b

array([2., 4., 6., 8.])

## Matrix multipication

In [10]:
c=np.diag([1,2,3,4])
c

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [11]:
c*c

array([[ 1,  0,  0,  0],
       [ 0,  4,  0,  0],
       [ 0,  0,  9,  0],
       [ 0,  0,  0, 16]])

In [12]:
c.dot(c)

array([[ 1,  0,  0,  0],
       [ 0,  4,  0,  0],
       [ 0,  0,  9,  0],
       [ 0,  0,  0, 16]])

# Comparisions

In [13]:
## Element wise comparisions
a=np.array([1,2,3,4])
b=np.array([5,2,2,4])
a==b

array([False,  True, False,  True])

In [14]:
a>b

array([False, False,  True, False])

In [15]:
# array-wise comparisions
a=np.array([1,2,3,4])
b=np.array([5,2,2,4])
c=np.array([1,2,3,4])

In [16]:
np.array_equal(a,b)

False

In [17]:
np.array_equal(a,c)

True

# Logical Operation

In [18]:
a=np.array([1,1,0,0],dtype=bool)
a

array([ True,  True, False, False])

In [19]:
b=np.array([1,0,1,0], dtype=bool)
b

array([ True, False,  True, False])

In [20]:
np.logical_or(a,b)

array([ True,  True,  True, False])

In [21]:
np.logical_and(a,b)

array([ True, False, False, False])

# Transcendental Functions

In [22]:
a=np.arange(5) 
a

array([0, 1, 2, 3, 4])

In [23]:
np.sin(a) # radians

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [24]:
np.log(a) # log(0) == not defined

/run/media/atif/New Volume/virtual_env/data_science_3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436])

In [28]:
np.exp(a) # e^x

array([ 1.        ,  2.71828183,  7.3890561 , 20.08553692])

# Shape Mismatch

In [29]:
a=np.arange(4)
a

array([0, 1, 2, 3])

In [30]:
a+np.array([1,2])

ValueError: operands could not be broadcast together with shapes (4,) (2,)

# Basic Reductions

In [31]:
#  computing sum
x=np.array([1,2,3,4])
x

array([1, 2, 3, 4])

In [32]:
np.sum(x)

10

In [33]:
# Sum by rows and columns
x=np.array([[1,1,],[2,2]])
x

array([[1, 1],
       [2, 2]])

In [34]:
x.sum(axis=0) # column first dimension

array([3, 3])

In [35]:
x.sum(axis=1) # rows (second dimension)

array([2, 4])

# Other reductions

In [36]:
x=np.array([1,3,2])
x.min()

1

In [37]:
x.max()

3

In [38]:
x.argmin() # index of minimum element

0

In [39]:
x.argmax() # index of maximum element

1

# Logical OPerations

In [40]:
np.all([True,True,False])  # returns true if all is true else false

False

In [41]:
np.any([True,True,False,False]) # returns true even if one or more is true ,esle false

True

In [42]:
# These two can be used for array comparisions
a=np.zeros((50,50))
np.any(a!=0)

False

In [43]:
np.all(a==a)

True

In [44]:
a=np.array([1,2,3,2])
b=np.array([2,3,3,2])
c=np.array([6,4,4,5])
((a<=b) & (b<=c)).all()

True

# Statistics

In [45]:
x=np.array([1,2,3,1])
y=np.array([[1,2,3],[5,6,1]])
x.mean()

1.75

In [46]:
np.median(x)

1.5

In [47]:
y

array([[1, 2, 3],
       [5, 6, 1]])

In [48]:
np.median(y,axis=-1)  # here -1 represents last dimension , since 0 is for columnwise and 1 is for rowwise , the data will be median with row wise

array([2., 5.])

In [49]:
x.std()

0.82915619758885

# Example 
### Data in plopulation.txt describes the population of lynxes (and carrots) in northern canada during 20 years

In [50]:
data =np.loadtxt('populations.txt')
data

array([[ 1900., 30000.,  4000., 48300.],
       [ 1901., 47200.,  6100., 48200.],
       [ 1902., 70200.,  9800., 41500.],
       [ 1903., 77400., 35200., 38200.],
       [ 1904., 36300., 59400., 40600.],
       [ 1905., 20600., 41700., 39800.],
       [ 1906., 18100., 19000., 38600.],
       [ 1907., 21400., 13000., 42300.],
       [ 1908., 22000.,  8300., 44500.],
       [ 1909., 25400.,  9100., 42100.],
       [ 1910., 27100.,  7400., 46000.],
       [ 1911., 40300.,  8000., 46800.],
       [ 1912., 57000., 12300., 43800.],
       [ 1913., 76600., 19500., 40900.],
       [ 1914., 52300., 45700., 39400.],
       [ 1915., 19500., 51100., 39000.],
       [ 1916., 11200., 29700., 36700.],
       [ 1917.,  7600., 15800., 41800.],
       [ 1918., 14600.,  9700., 43300.],
       [ 1919., 16200., 10100., 41300.],
       [ 1920., 24700.,  8600., 47300.]])

In [51]:
year,hares,lynxes,carrots =data.T # transposing so tahat it will convert to 4 rows

In [52]:
year

array([1900., 1901., 1902., 1903., 1904., 1905., 1906., 1907., 1908.,
       1909., 1910., 1911., 1912., 1913., 1914., 1915., 1916., 1917.,
       1918., 1919., 1920.])

In [53]:
hares

array([30000., 47200., 70200., 77400., 36300., 20600., 18100., 21400.,
       22000., 25400., 27100., 40300., 57000., 76600., 52300., 19500.,
       11200.,  7600., 14600., 16200., 24700.])

In [54]:
# The mean popluation over time
population=data[:,1:]
population

array([[30000.,  4000., 48300.],
       [47200.,  6100., 48200.],
       [70200.,  9800., 41500.],
       [77400., 35200., 38200.],
       [36300., 59400., 40600.],
       [20600., 41700., 39800.],
       [18100., 19000., 38600.],
       [21400., 13000., 42300.],
       [22000.,  8300., 44500.],
       [25400.,  9100., 42100.],
       [27100.,  7400., 46000.],
       [40300.,  8000., 46800.],
       [57000., 12300., 43800.],
       [76600., 19500., 40900.],
       [52300., 45700., 39400.],
       [19500., 51100., 39000.],
       [11200., 29700., 36700.],
       [ 7600., 15800., 41800.],
       [14600.,  9700., 43300.],
       [16200., 10100., 41300.],
       [24700.,  8600., 47300.]])

In [55]:
# standard deviation   of population
population.std(axis=0)  # columnwise

array([20897.90645809, 16254.59153691,  3322.50622558])

In [56]:
# which species has the highest population each year

np.argmax(population,axis=1)

array([2, 2, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 2, 2, 2, 2, 2])

# Broadcasting

In [57]:
a=np.tile(np.arange(0,40,10),(3,1)) 
"""Tile will tell make an array from 0 to 40(end is exclusive) with and interval of 10 , so it becomes:
[0,10,20,30] and copy the rows thrice and columns once
"""
print (a)
print("*"*30)
b=np.tile(np.arange(0,40,10),(3,2))
print(b)

[[ 0 10 20 30]
 [ 0 10 20 30]
 [ 0 10 20 30]]
******************************
[[ 0 10 20 30  0 10 20 30]
 [ 0 10 20 30  0 10 20 30]
 [ 0 10 20 30  0 10 20 30]]

In [58]:
a=a.T
a

array([[ 0,  0,  0],
       [10, 10, 10],
       [20, 20, 20],
       [30, 30, 30]])

In [59]:
b=np.array([0,1,2])
b

array([0, 1, 2])

In [60]:
a+b

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

In [61]:
a=np.arange(0,40,10)
a

array([ 0, 10, 20, 30])

In [62]:
a.shape

(4,)

In [63]:
a=a[:,np.newaxis] # add a new dimension  so creates 
a

array([[ 0],
       [10],
       [20],
       [30]])

In [64]:
a.shape

(4, 1)

In [65]:
a+b

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

# Array Shape manipulation

In [66]:
a=np.array([[1,2,3],[4,5,6]])
a.ravel() # returns a contiguos flattened array , A 1-D array

array([1, 2, 3, 4, 5, 6])

In [67]:
a.T

array([[1, 4],
       [2, 5],
       [3, 6]])

# Reshaping

In [68]:
a

array([[1, 2, 3],
       [4, 5, 6]])

In [69]:
a.shape
# print(a)

(2, 3)

In [70]:
b=a.ravel()
b

array([1, 2, 3, 4, 5, 6])

In [71]:
b=b.reshape((2,3))
b

array([[1, 2, 3],
       [4, 5, 6]])

## Note : Reshape may also return a view and if you change a data in one of the reshaped array it will change the original array

In [72]:
b[0,0]=100
b

array([[100,   2,   3],
       [  4,   5,   6]])

In [73]:
a

array([[100,   2,   3],
       [  4,   5,   6]])

# Dimesion Shufling

In [75]:
a=np.arange(4*3*2)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [78]:
a=a.reshape(4,3,2) # this is 3d ,. This is 3 matrix consisting of 3 rows and 2 cols.
a

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[18, 19],
        [20, 21],
        [22, 23]]])

In [79]:
a[0,2,1]

5

In [80]:
a[0,2,1]=3

In [81]:
a[0,2,1]

3

# Resizing

In [87]:
a=np.arange(4)

In [89]:
a.resize((8,))
a

array([0, 1, 2, 3, 0, 0, 0, 0])

In [92]:
# However it must not be referred to somewhere else
b=a
a.resize((4,))

ValueError: cannot resize an array that references or is referenced
by another array in this way.  Use the resize function

# Sorting Data

In [93]:
# sorting along an axis
a=np.array([[5,4,6],[2,3,2]])
a

array([[5, 4, 6],
       [2, 3, 2]])

In [95]:
# Not inplace sorting
b=np.sort(a,axis=1)  # row wise sorting 
b

array([[4, 5, 6],
       [2, 2, 3]])

In [97]:
#in-place sorting , this will modify the original array
a.sort(axis=1)
a

array([[4, 5, 6],
       [2, 2, 3]])

In [98]:
# Sorting with fancy indexing
a=np.array([4,3,1,2])
j=np.argsort(a)
j

array([2, 3, 1, 0])

In [99]:
a[j]

array([1, 2, 3, 4])